# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
build/
dist/
.eggs/
.python-version

# Django
*.log
local_settings.py
db.sqlite3
/media/
/staticfiles/

# Environment
.env
venv/
ENV/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# JetBrains
.idea/
